@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #e9f2ff;
  scroll-behavior: smooth;
}
/* :root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
p,
title,
li,
a,
button,
span {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

body {
  background-color: #161513;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 4.5rem !important;
}

@media screen and (max-width: 410px) {
  h1 {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 3.5rem !important;
  }
}

div.m-60c222c7.m-1f958f16.mantine-Modal-inner
  > section
  > div.m-b5489c3c.m-d0e2b9cd.mantine-Modal-header
  h2 {
  color: aliceblue !important;
}
.mantine-Modal-header {
  background: #161513 !important;
}
.mantine-Modal-content {
  background: #161513 !important;
}
div.m-b5489c3c.m-d0e2b9cd.mantine-Modal-header > button,
.m-86a44da5 {
  border: none !important;
}
div.m-b5489c3c.m-d0e2b9cd.mantine-Modal-header > button:hover {
  background: none !important;
}
.mantine-Modal-header button {
  border: none !important;
  background: none !important;
}
